* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}

:root {
    --colorPrimary: #00b400;
}

html {}

body {
    background-color: #333;
    color: white;
}
/*  HEADER */

.arrastar{
    background-color: red !important;
}
header {
    background-color: #111;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

header #title {
    display: flex;
}

header #title h1 {
    margin-left: 5px;
    font-size: 1.2em;
}

/*  FIM HEADER */

.container {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 15px;
}

/* COLLECTION */
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: green;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 100%;
    
}

.column.dragOver {
    outline: 1px solid var(--colorPrimary);
    outline-offset: -1px;
}

.column.dragOver input {
    color: var(--colorPrimary) !important;
    
}

.column.dragOver .links {
    padding: 5px;

}

.column.dragOver .links {
    background-color: #333;
    outline: none;   
    overflow: hidden; 
}
.not-drag{
    pointer-events: none !important;
}

.column .head {
    position: relative;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    gap:5px;
}

.column .head input {
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: auto;
    height: 100%;
    flex: 1 1 auto;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    padding:5px;
}

.column .head span {
    right: 5px;
    top: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: rgb(217, 217, 217);
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    border-radius: 100%;
}

.column .head span:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: #fff;
}

.column .head span.marcado {
    background-color: #222;
}

.column .head .options {
    background-color: #111;
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 9;
    top:37px;
    right:17px;
   
}

.column .head .options ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    cursor: pointer;
   
}

.column .head .options ul li {
    list-style: none;
    padding: 8px 12px;
    cursor: default;
    text-align: right;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(217, 217, 217);
    cursor: pointer;
}

.column .head .options ul li.excluir {
    color: #d83c3e;
}

.column .head .options ul li.excluir:hover {
    background-color: #d83c3e;
    color: #fff;
}

.column .head .options ul li.criarNovoLink:hover {
    background-color: var(--colorPrimary);
    color: #fff;
}

.column .links {
    display: flex;
    min-width: 45px;
    min-height: 45px;
    flex-wrap: wrap;
    transition: 0.2s;
    width: 100%;
    
}

.column .links a {
    cursor: pointer;
    position: relative;
    
}

.column .links a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.column .links a li {
    list-style: none;
    height: 50px;
    width: 50px;
    background-position: center center;
    background-size: 20px auto;
    background-repeat: no-repeat;
   
}

.column .links a.dragging{
    background-color: rgba(0, 0, 0, 0.2) !important;
    outline: 2px dotted rgba(255, 255, 255, 0.3) !important;
    outline-offset: -2px !important;
}

.column a span {
    position: absolute;
    width: auto;
    min-width: 150px;
    height: 20px;
    top: 50px;
    left: 0px;
    color: #f1f1f1;
    font-size: 14px;
}

.column a span {
    display: none;
}

.column a:hover>span {
    display: block;
}

/* FIM COLLECTION */

/* BOTÃO ADD + */
#createNewFolder {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: center;
    color: red;
    background-color: var(--colorPrimary);
    color: #333;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* TELA DE CADASTRO DE LINK */
#cadastroLink {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    display: none;
}

#cadastroLink form {
    margin-top: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
    padding: 0px;
    justify-content: center;
}

#cadastroLink form h2 {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

#cadastroLink input {
    font-size: 16px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#cadastroLink input:focus {
    outline: 3px solid #4651c2;
}

#cadastroLink input[type="submit"] {
    background-color: var(--colorPrimary);
    ;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

/* FIM TELA DE CADASTRO DE LINK */

.show {
    display: flex !important;
}




/* LIXEIRA */
.lixeira {
    position: fixed;
    z-index: 2;
    bottom: -210px;
    width: 100%;
    left: 0;
    height: 200px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 51, 0, 0.467));
    transition: .2s;
    /* display: none; */
}

.lixeira h1 {
    text-align: center;
    position: absolute;
    top: -100px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    transition: transform 0.3s ease;
    cursor: not-allowed;
    display: none;
    transition: .2s;
}

.lixeira.excluir h1 {
    transform: scale(1.1);
}

.lixeira.lixeira-hover {
    display: block;
    box-shadow: 0 0 40px 100px rgba(255, 0, 0, 0.171);
}

.lixeira.lixeira-hover h1 {
    display: flex;
}

.lixeira span {
    font-size: 20px;
}

.lixeira span:after {
    content: 'delete' !important;
}

.lixeira.excluir span:after {
    content: "delete_forever" !important;
}

.lixeira.excluir {
    color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 0 40px 100px rgba(255, 0, 0, 0.281) !important;
}

.lixeira #links {
    width: 100%;
    height: 100%;
}

.lixeira a li {
    list-style: none;
    height: 25px;
    width: 25px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

/* FIM LIXEIRA */

/* MENSAGENS POPUP */
#messages {
    width: 100%;
    position: fixed;
    z-index: 90;
    bottom: 0;
    left: 0;
    height: 80px;
    transform: translate3d(0, 300%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    font-weight: bold;
    color: var(--colorPrimary);
    display: flex;
    animation-name: example;
    animation-duration: 1300ms;
}

@keyframes example {
    0% {
        transform: translate3d(0, 300%, 0)
    }

    12% {
        transform: translate3d(0, -27px, 0)
    }

    35% {
        transform: translate3d(0, 12px, 0)
    }

    80% {
        transform: translate3d(0, 12px, 0)
    }

    100% {
        transform: translate3d(0, 300%, 0)
    }
}

span.delete,
#createNewFolder,
#messages,
header, .head, nav {
    user-select: none !important;
}

.column.mode{

}
.column.mode .head{

    display: flex;
    width:100%;
    
}
.column.mode .head .delete{
   
    flex: 0 0 30px;
}
.column.mode .head input{
   
    flex: 1 1 100%;
    min-width:10px;
}
.column.mode .links{
    flex-direction: column;
    width: 100%;
}
.column.mode .links a{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height: 50px;
    width: 100%;
    padding:3px;
    position: relative;
    color:#fff;
    text-decoration: none;
    /* overflow: hidden; */
    
}
.column.mode .links a li{
    flex: 1 1 50px;
    height: 100%;
   
    /* overflow: hidden; */
}
.column.mode .links span{
    all: unset;
  
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
    flex: 1 1 90%;
    /* background-color: red; */
   
}
.column.mode .links span b{
    all: unset;
    /* background-color: #00b400; */
    white-space: nowrap;
}
header{
    padding:0px;
}
header #title{
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 100%;
}
#open-menu{
    height: 100%;
    width:70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    color:#a1a1a1;
    /* background-color: green; */
    
}
#open-menu:hover{
   
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
#sideMenu{
    background-color: #111;
    height: 100%;
    /* height: 100vh; */
    position: fixed;
    z-index: 9999;

    transition: 0.2s;

    display: flex;
    flex-direction: column;
    width:0;
    top:0px;
    overflow: hidden;
    max-width: calc(100% - 50px);
}
main{
    width:100%;
    transition: .2s;
   
}

#sideMenu.open{
    width:300px;
    max-width: calc(100% - 50px);
}
.dragging{
    /* border:1px solid red !important; */
    overflow: auto;
}
main.open{
   
    margin-left:300px;
    /* max-width: calc(100% - 300px); */
    overflow: hidden;
}
#sideMenu nav{
    font-size:0.8em;
    font-weight: bold;
    /* background-color: #333; */
    
}
#sideMenu nav ul{
    display: flex;
    flex-direction: column;
   
}
#sideMenu nav ul li{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    gap:5px;
     
    white-space: nowrap;
}
#sideMenu nav ul li a, #sideMenu nav ul label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    flex: 0 0 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding:10px;
    color:#fff;
    gap:10px;
    padding:15px 20px;
}
#sideMenu nav ul div:nth-child(1){
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sideMenu nav ul div input[type="checkbox"]{
    width:20px;
    height: 20px;
}

/* #sideMenu label{
    display: flex;
    align-items: center;
    gap:5px;
} */

#sideMenu nav ul li a:hover, #sideMenu nav ul li label:hover{
    cursor: pointer;
    background-color: #222;
    color: var(--colorPrimary)
}

#inputColor {

    border-radius: 100%;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

#inputColor input[type='color'] {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    transform: scale(3);
    cursor: help;
}
